apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  namespace: spring-app
  labels:
    app: spring-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
        - name: spring-app
          # This is the ECR image your CI is pushing
          # CI should ideally update ONLY the tag (spring-vX) in this file
          image: 514867319424.dkr.ecr.us-east-1.amazonaws.com/java-project-ecr:spring-v1
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"